body {
    background: linear-gradient(180deg, #FFEEEE, #DDEFBB);
    height: 100vh;
}
h1 {
    text-align: center;
    text-underline-position: under;
}
.block {
    width: 100%;
    text-align: center;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: auto;
}
#gif {
    width: 300px;
    height: auto;
}
.bottomleft {
    border-style: solid;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    position: absolute;
    width: 18vw;
    bottom: 100px;
    
}
.topleft {
    border-style: solid;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    position: absolute;
    width: 18vw;
    top: 40px;
}
.bottomright {
    border: solid;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    position: absolute;
    width: 18vw;
    bottom:100px;
    right: 0px;
}